<h1>Add reward</h1>
<form method="post" name="addRewardForm">
    <p>Name:</p>
    <input type="text" name="newRewardName" /><br />
    <p>Description:</p>
    <input type="text" name="newRewardDescription" /><br />
    

    <input type="submit" value="Add" /><br />
    <input type="button" value="Cancel" onclick="location.href ='/Rewards'" />

    <script>

    </script>
</form>
