@model Reward

<form asp-controller="Rewards" asp-action="AddReward">
    <div class="entitiesFormWrap">
        <div class="inputProperties">
            <h2>Add reward</h2>
            <div class="inputBox">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div  class="inputBox">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="6" style="resize: none"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div  class="inputBox">
                <button type="submit">Add</button>
                <button type="button" onclick="location.href ='/Rewards'">Cancel</button>
            </div>
        </div>
    </div>


</form>
