<div class="homeWrap">
    <div class="homeHeader">
        <h1>Some information</h1>
    </div>
    <div class="homeBox">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse quos voluptatem, sapiente tenetur sed minima qui officia, sint, adipisci quia ipsam ducimus vitae perferendis eaque soluta dignissimos quisquam facere? Quod magnam adipisci similique quos praesentium. Vero corporis totam quas, assumenda, nihil ipsam eum, numquam obcaecati fuga deleniti ea error, similique recusandae asperiores quos fugit placeat dolorem dolor voluptatem facilis maxime officia quod quasi amet ex! Quasi animi deleniti minima cumque molestias similique incidunt nesciunt ea. Dolor distinctio dolore eum. Similique rem, eum laborum voluptatibus, molestiae fuga esse deleniti hic dolore accusantium quod, qui dicta earum vero vel ducimus corrupti?</p>
    </div>
</div>